<?xml version="1.0"?>
<robot name="blue_bin">
<link name="blue_bin">
    <visual>
      <geometry>
        <mesh filename="package://laas_objects/res/obj/blue_bin.obj"/>
      </geometry>
      <origin rpy="1.57075 0 0" xyz="0 0 0"/>
      <material name="blue">
        <color rgba="0 0 .8 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
      <box size="0.285 0.375 0.06"/> <!-- bottom -->
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 -0.15"/>
      <contact_coefficients mu="1000.0" kp="0.00" kd="0.0"/>
    </collision>
    <collision>
      <geometry>
      <box size="0.27 0.36 0.02"/> <!-- left -->
      </geometry>
      <origin rpy="1.57075 0 0" xyz="0 0.175 0"/>
      <contact_coefficients mu="1000.0" kp="0.00" kd="0.0"/>
    </collision>
    <collision>
      <geometry>
      <box size="0.27 0.36 0.02"/> <!-- right -->
      </geometry>
      <origin rpy="1.57075 0 0" xyz="0 -0.175 0"/>
      <contact_coefficients mu="1000.0" kp="0.00" kd="0.0"/>
    </collision>
    <collision>
      <geometry>
      <box size="0.365 0.36 0.02"/> <!-- front -->
      </geometry>
      <origin rpy="0 1.57075 0" xyz="-0.13 0 0"/>
      <contact_coefficients mu="1000.0" kp="0.00" kd="0.0"/>
    </collision>
    <collision>
      <geometry>
      <box size="0.365 0.36 0.02"/> <!-- back -->
      </geometry>
      <origin rpy="0 1.57075 0" xyz="0.13 0 0"/>
      <contact_coefficients mu="1000.0" kp="0.00" kd="0.0"/>
    </collision>
    <inertial>
      <mass value="0.7"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0"
               iyy="0.001" iyz="0.0"
               izz="0.001"/>
    </inertial>
</link>

</robot>