<?xml version="1.0"?>
<robot name="red_cube">
<link name="red_cube">
    <visual>
      <geometry>
        <box size="0.055 0.055 0.055"/>
      </geometry>
      <material name="red">
        <color rgba=".8 0 0 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.055 0.055 0.055"/>
      </geometry>
      <contact_coefficients mu="1000.0" kp="0.00" kd="0.0"/>
    </collision>
    <inertial>
      <mass value="0.075"/>
      <inertia ixx="0.000378125" ixy="0.0" ixz="0.0" iyy="0.000378125" iyz="0.0" izz="0.000378125"/>
    </inertial>
</link>
</robot>