<?xml version="1.0"?>
<robot name="walls">
<link name="walls">
    <visual>
      <geometry>
      	<box size="100 100 .001"/>
        <!--<mesh filename="package://laas_objects/res/obj/walls.obj"/>-->
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.02"/>
      <!--<origin rpy="1.57075 0 -1.57075" xyz="-8.7 -3.54 -1.5"/>-->
      <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
      <collision>
      <geometry>
        <box size="100 100 0.001"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </collision>
    </visual>
</link>
</robot>