<?xml version="1.0"?>
<launch>
  <arg name="output" default="screen"/>
  <arg name="respawn" default="false"/>
  <arg name="start_manager" default="true"/>
  <arg name="start_server" default="false"/>
  <arg name="nodelet_manager" default="uwds_nodelet_manager"/>
  <arg name="launch-prefix" default=""/>

  <arg name="filename" default="$(find laas_objects)/res/blend/adream_empty.blend"/>
  <arg name="scale" default="1.0"/>
  <arg name="global_frame_id" default="map"/>
  <arg name="input_frame" default="CameraTop_optical_frame"/>
  <arg name="ressources_folder" default="$(find laas_objects)/res"/>
  <arg name="marker_ids" default="10 11"/>
  <arg name="marker_names" default="green_bin blue_bin"/>

  <node name="env_provider"
        pkg="nodelet" type="nodelet"
        args="load uwds/EnvProvider $(arg nodelet_manager)"
        respawn="$(arg respawn)"
        output="$(arg output)"
        launch-prefix="$(arg launch-prefix)">
    <rosparam subst_value="true">
      filename: $(arg filename)
      output_world: robot/env
      scale: $(arg scale)
      verbose : false
    </rosparam>
  </node>

  <node name="ar_objects_provider"
        pkg="nodelet" type="nodelet"
        args="load uwds_basic_clients/ArObjectsProvider $(arg nodelet_manager)"
        output="$(arg output)"
        launch-prefix="$(arg launch-prefix)">
    <rosparam subst_value="true">
      global_frame_id: $(arg global_frame_id)
      marker_ids: $(arg marker_ids)
      marker_names: $(arg marker_names)
      ressources_folder: $(arg ressources_folder)
      output_world : robot/ar_objects
      input_frame: $(arg input_frame)
      verbose : false
    </rosparam>
  </node>

  <node name="orange_cup_provider"
        pkg="nodelet" type="nodelet"
        args="load uwds_basic_clients/SimpleObjectProvider $(arg nodelet_manager)"
        output="$(arg output)"
        launch-prefix="$(arg launch-prefix)">
    <remap from="~input" to="/orange_detection"/>
    <rosparam subst_value="true">
      global_frame_id: $(arg global_frame_id)
      object_name: orange_cup
      object_class: Cup
      object_model: $(find laas_objects)/res/blend/orange_cup.blend
      output_world: robot/orange_cup
    </rosparam>
  </node>

  <node name="yellow_ball_provider"
        pkg="nodelet" type="nodelet"
        args="load uwds_basic_clients/SimpleObjectProvider $(arg nodelet_manager)"
        output="$(arg output)"
        launch-prefix="$(arg launch-prefix)">
    <remap from="~input" to="/yellow_detection"/>
    <rosparam subst_value="true">
      global_frame_id: $(arg global_frame_id)
      object_name: yellow_ball
      object_class: Toy
      object_model: $(find laas_objects)/res/blend/yellow_ball.blend
      output_world: robot/yellow_ball
    </rosparam>
  </node>

  <node name="green_cylinder_provider"
        pkg="nodelet" type="nodelet"
        args="load uwds_basic_clients/SimpleObjectProvider $(arg nodelet_manager)"
        output="$(arg output)"
        launch-prefix="$(arg launch-prefix)">
    <remap from="~input" to="/green_detection"/>
    <rosparam subst_value="true">
      global_frame_id: $(arg global_frame_id)
      object_name: green_cylinder
      object_class: Toy
      object_model: $(find laas_objects)/res/blend/green_cylinder.blend
      output_world: robot/green_cylinder
    </rosparam>
  </node>

    <node name="merger"
        pkg="nodelet" type="nodelet"
        args="load uwds_basic_clients/WorldMerger $(arg nodelet_manager)"
        output="$(arg output)"
        launch-prefix="$(arg launch-prefix)">
    <rosparam subst_value="true">
      global_frame_id: $(arg global_frame_id)
      default_inputs: robot/env robot/orange_cup robot/yellow_ball robot/green_cylinder robot/ar_objects robot/gazes
      output_world: robot/merged
      verbose: false
    </rosparam>
  </node>

</launch>
